[report]
omit =
    nptdms/test/*
    .tox/*
exclude_lines =
    # Ignore repr methods only used for debugging
    def __repr__
    # Ignore handling failing imports
    except ImportError
    # Ignore not-implemented methods in base classes
    raise NotImplementedError
